<!DOCTYPE html>
<html>
    {% load staticfiles%}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "blog/css/style.css" %}">
        <title>Blog</title>
    </head>

    <body>
        <div class="main-title">
            <a href="{% url 'blog:index' %}">
                <img src="{% static "blog/images/logo.png" %}" alt="Logo"/>
            </a>
        </div>
        <div class="login-area">
            {% if user.is_authenticated %}
                Hi, {{ user.username }} (<a class="login-link" href="{% url 'blog:logout_view' %}">logout</a>) | <a class="login-link" href="{% url 'blog:newpost' %}">new post</a>            
            {% else %}
                <a class="login-link" href="{% url 'blog:login_view' %}">login</a> | <a class="login-link" href="{% url 'blog:signup' %}">sign up</a>
            {% endif %}
        </div>

    	{% block content %}
    	{% endblock %}

        <footer>
            <div class="footer">
              <a href="{% url 'blog:contact' %}">contact us</a>  
            </div>
        </footer> 

    </body>
</html>