<!DOCTYPE html>
<html>
    {% load staticfiles%}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "blog/css/style.css" %}">
        <title>Blog</title>
    </head>

    <body>
        <div class="main-title">
            <a href="{% url 'blog:index' %}">
                <img src="{% static "blog/images/logo.png" %}" alt="Logo"/>
            </a>
        </div>
        
        {% if user.is_authenticated %}
            <div class="username">Hi, {{ user.username }}</div>
            <div class=></div>
            <a href="{% url 'blog:newpost' %}">new post</a>
            <a href="{% url 'blog:logout_view' %}">logout</a>
        {% else %}
            <a href="{% url 'blog:login_view' %}">login</a>
            <a href="{% url 'blog:signup' %}">sign up</a>
        {% endif %}
		<br>
        <br>

    	{% block content %}
    	{% endblock %}

        <footer>
            <p><a href="{% url 'blog:contact' %}">Contact Us</a></p>
        </footer> 

    </body>
</html>